h1.movie{
    color : white;
    text-align : center;
}
h3.movie{
    color : gray ;
    text-align : center;
}
body.movie{
    background-color : #FFE4C4 ;
    text-align :center;
}
form.movie{
    text-align:center;
}
button.movie{
    font-style:serif;
    font-size :20px;
}