<div class="container">
<div class="movie">
<h1>영화를 사랑하는 사자들의 모임에 오신것을 환영합니다</h1>
<form action = "/write4" method = "POST">
  <div class="form-group">
  <h3>오늘 본 영화의 이름은 무엇인가요?</h3><input name = "text4" type = "text"></input><br>
  <h3>오늘 본 영화 어떠셨나요?</h3><textarea name = "content4" rows = "20" cols = "50"></textarea><br>
   <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-film" aria-hidden="true">작성완료</span>
    </button>
</form><hr>
</div>


