<div class="container">
  <form action = "/update1/<%= @one_mypost.id %>" method = "POST">
    <div class="form-group">
      <textarea class="form-control" name = "content1" rows = "20" cols = "50"><%= @one_mypost.content %></textarea>
    </div>
    
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Submit
    </button>
  </form>
</div>k